body {
    background-color: black;
    text-decoration: blanchedalmond;
}

.barra {
    height: 0.5px;
    color: aqua;
    background-color: aqua;
    }

.fa-icons {
    background-color: aqua;
    text-align: center;
}

.centrado {
    text-align: center;
}


.marca {
    font-family: 'Lobster Two', cursive;
}